aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
.deps
install-sh
makedepend.1
makedepend-config.h
makedepend-config.h.in
Makefile
Makefile.in
MakeOut
missing
mkinstalldirs
stamp-h1
*~
*.o
makedepend-*tar.*
ChangeLog
tags
